*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#eef1f6;
  color:#222;
}

/* NAV */
.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 40px;
  background:#fff;
  position:sticky;
  top:0;
}

.nav nav a{
  margin:0 10px;
  text-decoration:none;
  color:#333;
  font-size:14px;
}

/* BUTTON */
.btn{
  padding:10px 18px;
  border:none;
  border-radius:20px;
  background:#e5e7eb;
  cursor:pointer;
  position: relative;
  bottom: 18vh;
   background: black;
   color: white;
}

.btn.dark{
  background:#111;
  color:#fff;
  top: 3vh;
}

/* HERO */
hero{
  text-align:center;
  padding:120px 20px;
 
  border-radius:20px;
  margin:20px;
}

.hero h1{
  font-size:40px;
  margin-bottom:10px;
}

/* ABOUT */
.about{
  display:flex;
  justify-content:space-between;
  padding:60px 40px;
}

.about .left{
  width:40%;
}

.about .right{
  width:40%;
  color:#555;
}

/* CARDS */
.cards{
  display:flex;
  gap:20px;
  padding:20px 40px;
}

.card{
  flex:1;
  background:#fff;
  padding:30px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

/* USE CASE */
.use{
  display:flex;
  justify-content:space-between;
  padding:60px 40px;
}

business{
  width:40%;
  height:200px;
  background:#6b1818bf;
  border-radius:20px;
}

.w12{
width: 1400px;
height: 1200px;
position: relative;
left: 60px;
background-color: white;

}

body{
  background: blueviolet;
}

.bac{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZoR2UpFCyF6G8xJs_UPxRueXjJAXm6qstfw&s);
  background-size: cover;
  width: 1350px;
  height: 650px;
  position: relative;
  left: 30px;
  border-radius: 35px;
}

.ddr{
  position: relative;
  text-align: center;
  bottom: 80vh;
}

.op{
  font-size: 35px;
  position: relative;
  top: 10vh;
}

.right{
  position: relative;
  top: 5vh;
  font-size: 25px;
}

.ss12{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYWCfIQ50Lgwpjtejj3-AKaGwELlIhVbVpvw&s);
  background-size: cover;
  width: 500px;
  height: 200px;
  position: relative;
  bottom: 75vh;
  border-radius: 25px;
  left: 3vh;
}

.p2{
  position: relative;
  top: 10vh;
  left: 3vh;
}

.p3{
  position: relative;
  top: 10vh;
  left: 3vh;
}

.p4{
  position: relative;
  top: 10vh;
  left: 3vh;
}

.hj1{
  background: midnightblue;
  color: white;
  width: 300px;
  height: 200px;
  position: relative;
  bottom: 102vh;
  border-radius: 25px;
  left: 90vh;
}

.qwe{
  position: relative;
  top: 10vh;
  left: 3vh;
}

.qwe1{
  position: relative;
  top: 10vh;
  left: 3vh;
}

.qwe2{
  position: relative;
  top: 10vh;
  left: 3vh;
}

.qwe4{
  font-size: 20px;
  text-align: center;
}

.qwe5{
  font-size: 20px;
  text-align: center;
  
}

.woxa{
  background: midnightblue;
  color: white;
  width: 300px;
  height: 200px;
  position: relative;
  bottom: 128vh;
  border-radius: 25px;
  left: 140vh;
  
}

.yp{
  position: relative;
  top: 8vh;
  left: 3vh;
}

.yoz{
  position: relative;
  text-align: center;
  font-size: 15px;
}

.w12{
  width: 1430px;
  height: 2100px;
}

.buss{
  width:600px;
  height:500px;
  border-radius: 20px;
  position: relative;
  top: 35vh;
  background: black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
}

.cas{
  position: relative;
  bottom: 120vh;
  left: 110vh;
}

.vws{
position: relative;
bottom: 130vh;
left: 10vh;
}

.btns{
  padding:10px 18px;
  border:none;
  border-radius:20px;
  background:#e5e7eb;
  cursor:pointer;
  position: relative;
  bottom: 358vh;
   background: black;
   color: white;
   left: 170vh;
}

.logop{
  position: relative;
  right: 30px;
}

.f2{
  position: relative;
  left: 50vh;
  top: 20vh;
}

.f3{
  position: relative;
  left: 70vh;
  top: 15vh;
}

.f4{
  position: relative;
  left: 90vh;
  top: 10vh;
}

.f5{
  position: relative;
  left: 110vh;
  top: 5vh;
}

.f6{
  position: relative;
  left: 130vh;
}

.logo{
  position: relative;
  top: 21vh;
}

.sos{
  position: relative;
  top: 90px;
  background: black;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 50px;
}