.f1{
    position: relative;
    left: 10vh;
}

.f2{
    position: relative;
    left: 10vh;
}

.f3{
    position: relative;
    left: 37vh;
    bottom: 2.5vh;
    
}

.f4{
    position: relative;
    right: 27vh;
}


.f5{
    position: relative;
    bottom: 7vh;
}

.f6{
    position: relative;
    bottom: 12vh;
}

.f8{
    position: relative;
    bottom: 13vh;
}

.f9{
    position: relative;
    bottom: 4vh;
}

.f10{
    position: relative;
    left: 31vh;
    bottom: 2.5vh;
}

.f11{
    position: relative;
    bottom: 8.5vh;
}


.f12{
    position: relative;
    bottom: 6vh;
}

.f13{
    position: relative;
    left: 33vh;
    bottom: 13vh;
}


.f14{
position: relative;
bottom: 15.5vh;
}

.f15{
    position: relative;
    bottom: 20vh;
}

.f16{
    position: relative;
    bottom: 15vh;
}

.f17{
    position: relative;
    left: 30vh;
    bottom: 20vh;
}

.f18{
    position: relative;
    bottom: 22vh;
}

.f19{
    position: relative;
    bottom: 28vh;
}

.f20{
    position: relative;
    bottom: 30vh;
}




