.img{
    position: relative;
    left: 60vh;
}

.im{
    position: relative;
    left: 40vh;
}

.i{
    position: relative;
    left: 20vh;
}

.h1{
    position: relative;
    left: 20vh;
    bottom: 3vh;
}

.h2{
    position: relative;
    left: 75vh;
    bottom: 11vh;
}

.h3{
    position: relative;
    left: 125vh;
    bottom: 18vh;
}

.pp1{
position: relative;
left: 12vh;
bottom: 25vh;
}

.pp2{
position: relative;
left: 65vh;
bottom: 36vh;
}
.ppp3{
position: relative;
left: 115vh;
bottom: 49vh;
}

.pp{
    position: relative;
    bottom: 45vh;
}

.h1-1{
position: relative;
    left: 10vh;
    top: 20vh;
}

.h1-2{
position: relative;
left: 12vh;
top: 10vh;
}


.img009{
position: relative;
left: 40vh;
bottom: 30vh;

}

.sh20{
    position: relative;
    left: 12vh;
    top: 5vh;
}

.cor{
    position: relative;
left: 85vh;
bottom: 57vh;
}

.kor{
position: relative;
left: 85vh;
bottom: 7vh;
}

.h22{
    position: relative;
    bottom: 10vh;
}

.img1{
    position: relative;
    left: 110vh;
    bottom: 80vh;
}

.h11{
    position: relative;
    right: 3vh;

}


.dal{
    position: relative;
    bottom: 120vh;
}









