$range-color:gray;
$chiziq-text-decoration:none;

.f2-1{
    text-decoration: $chiziq-text-decoration;
    color: $range-color;
}

.f2-2{
    text-decoration: $chiziq-text-decoration;
    color: $range-color;
}

.f2-3{
    text-decoration: $chiziq-text-decoration;
    color: $range-color;
}

.f2-4{
    text-decoration: $chiziq-text-decoration;
    color: $range-color;
}

.f2-5{
    text-decoration: $chiziq-text-decoration;
    color: $range-color;
}